
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
    color: black;
}

#margin {
    padding-left: 50px;
    padding-right: 50px;
}

.firsthead {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    align-items: center;
    /* border: 1px solid red; */
    
}

.nike-logo {
    height: 40px;
    width: 40px;
}

.links  {
    display: flex;
    text-decoration: none;
    color: black;
    gap: 10px;
    align-items: center;
    padding-left: px;
    font-size: 15px;
}

/* // secondhead */


.flex {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    /* border: 1px solid red; */
}

.logo-2 {
    height: 40px;
    width: 40px;
}

#links-2 {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    /* border: 1px solid red; */
    font-size: 20px;
    padding-right: px;
    padding-left: 170px;
    
}

.search-links {
    /* border: 1px solid red; */
    align-items: center;
    gap:50px;
    
}

#search {
    height: 30px;
    border-radius: 15px;
    border-color:transparent ;
    background-color: #f5f5f5;
    padding-right:20px ;

}
.mini-logo {
    height: 24px;
    width: 24px;
}

/* thirdnavbar */

.thirdhead {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-2 {
    font-size: 12px;
    padding-top: 5px;
}
.p-3 {
    font-size: 13px;
    padding-top: 5px;
}

/* matter */

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu-1 {
    display: flex;
    gap: 25px;
    font-size: 20px
}

.first-image {
   height: ;
   width: ;
   position: relative;
   padding-top: 25px;
   /* border: 1px solid red; */
}

.textstyle{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}
.text-1 {
    font-size: 18px;
    padding-top: 50px;
}
.text-2 {
    font-size: 60px;
    font-style: inherit;
    ;
}
.text-3 {
    padding-top: 18px;

}
.buttonfix{
    padding-top: 20px;
    display: flex;
}
.button {
    height: 35px;
    width: 120px;
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 20px;
    
}


.names {
    font-size: 25px;
    padding: 40px;
}
.second-image{

}
.kicks {
    padding-top: 30px;
}

/* slider  */

.slider {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    padding-left: 100px;
    gap: 20px;
    overflow: scroll;
}
.sliderdivsize {
    

}
.imagesize {
    height: 30%;
    width: 50%;
    border: 1px solid red;
}
.slider1pad {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pants {
    display: flex;
}