* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "OnePlus Sans Regular", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    background: transparent;
}

/* ********************* */
/*       Header          */
/* ********************* */
.header {
    background-color: white;
}

.notification {
    display: flex;
    justify-content: space-between;
    background-color: black;
    line-height: 50px;
    color: white;
    font-size: 16px;
}

.x-icon {
    margin-right: 35px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    line-height: 50px;
    /* position: fixed ; */
    z-index: 10;
    background-color: #fff;
    transition: all .5s;
}

.menu-icon {
    font-size: 14px;
    cursor: pointer;
    padding: 0px 20px;
}

.logo {
    width: 130px;
    height: 44px;
}

.menu-1 {
    display: flex;
    align-items: center;
}

.menu-2 {
    display: flex;
    align-items: center;
}

.menu {
    cursor: pointer;
    padding: 0px 12px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: 1px solid #f50514;
}

.menu:hover {
    border-bottom: 1px solid red;
}

.logo-container {
    display: flex;
}

.logo-container a {
    height: 40px;
}

.bars {
    display: none;
}

.menu-container {
    display: flex;
}

.menu2-container {
    display: flex;
}

.menu-icon-container {
    display: flex;
}

.bars {
    display: none;
}

.check {
    font-size: 100px;
}

/* ********************* */
/*       Top Section         */
/* ********************* */

.top-section {
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    text-align: center;
    height: 128px;
}

.item {
    padding-bottom: 35px;
    width: 100%;
    height: 100%;
}

.item p {
    font-size: 13px;
    margin-top: 15px;
    padding: 0px 2px;
}

.item:hover {
    border-bottom: 1px solid red;
}

.item1 {
    padding-bottom: 35px;
    width: 100%;
    border-bottom: 1px solid red;
    height: 100%;
}

.item1 p {
    font-size: 13px;
    margin-top: 15px;
    padding: 0px 2px;
}

/* ********************* */
/*       Sidebar          */
/* ********************* */

.sidebar {
    height: 100%;
    width: 27%;
    padding: 32px 40px 32px 64px;
    border-right: 1px solid #8282823e;
}

hr {
    opacity: 0.3;
}

.box {
    position: relative;
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.sub {
    display: flex;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 12px;
}



.side-sub input {
    background-color: red;
}

.new {
    position: absolute;
    top: 0;
    color: red;
    font-weight: 100;
    font-size: 10px;
    right: -18px;
    top: 0;
}

.myCheckbox {
    display: none;
}

.myCheckbox+label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 0.1px solid #828282;
    background-color: #FFF;
    margin-right: 10px;
    margin-bottom: -2px;
}

.myCheckbox:checked+label::before {
    background-color: red;
    background-image: url('./Images/image-removebg-preview.png');
    background-size: 100% 100%;
}

.separator-48 {
    width: 100%;
    height: 48px;
    background-color: transparent;
}

.box i {
    opacity: 0.5;
}


.phone-section {
    display: flex;
}

.rank {
    font-size: 14px;
    color: #5c5c5c;
    margin-bottom: 10px;
}

.black {
    color: black;
    opacity: 1;
}

.main-section {
    padding: 14px 70px 64px 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.product-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.product-card {
    width: 312px;
    position: relative;
    margin-bottom: 40px;
}

.prod-img {
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 31px;
}

.prod-img img {
    width: 100%;
}

.prod-head {
    font-size: 20px;
    margin-bottom: 4px;
}

.prod-discount {
    display: inline-block;
    font-size: 12px;
    color: #f50514;
    margin-bottom: 12px;
}

.prod-gift {
    display: inline-block;
    font-size: 12px;
    color: black;
    opacity: 0.75;
    margin-left: 15px;
}

.prod-price {
    font-size: 15px;
}

.prod-price span {
    font-size: 12px;
    margin-left: 3px;
    color: #828282;
    text-decoration: line-through;
}

.new2 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #f50514;
}

.prod-img-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 31px;

}

.prod-img-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 31px;
}


.prod-img-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 31px;
}


.product-image-1 {
    background-image: url('https://image01-in.oneplus.net/ebp/202207/14/1-m00-3d-17-cpgm7mlpjwsads8taasa55twgmg132.png?x-amz-process=image/format');
    width: 250px;
    height: 250px;
    background-size: cover;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
}

.product-image-2 {
    background-image: url('https://image01.oneplus.net/ebp/202204/26/1-m00-3a-03-rb8bwmjnz4aawz6aaaorqdzzzgk130.png?x-amz-process=image/format');
    width: 250px;
    height: 250px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
}

.product-image-3 {
    background-image: url('https://image01.oneplus.net/ebp/202103/12/1-m00-21-ef-rb8lb2blj_eah4rsaahmeobqcb4967.png?x-amz-process=image/format');
    width: 250px;
    height: 250px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
}

button {
    border: none;
    position: absolute;
    outline: none;
    background-color: #cecdcd;
    padding: 7px;
    font-size: 12px;
    opacity: 1;
}

.range-slider {
    accent-color: red;
    width: 100%;
    font-size: 12px;
    color: #828282;
}

.range-slider input {
    width: 100%;
    margin-top: 15px;
}

.money {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 14px;
    color: #000;
    opacity: 0.55;
}

/* ********************* */
/*       Footer Menu       */
/* ********************* */

.separator-2 {
    width: 100%;
    height: 56px;
    background-color: transparent;
}

.footer {
    background-color: #000;
}

.footer-menu {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.foot {
    text-align: left;
    width: 100%;
    padding-right: 20px;
}

.zoro {
    line-height: 52px;
    color: #FFF;
}

.zoro i {
    font-size: 12px;
    font-weight: 100
}

.breadcrumbs {
    font-size: 14px;
    width: 85%;
    margin: auto;
}

.menus {
    font-size: 12px;
    color: #fffafa;
    opacity: 0.8;
    padding: 8px 0px;
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    color: #fffafa;
    opacity: 0.8;
    font-size: 12px;
    margin-bottom: 24px;
}

.left-social {
    display: flex;
    cursor: pointer;
    gap: 24px;
}

.right-social {
    display: flex;
    gap: 24px;
    cursor: pointer;
    font-size: 14px;
}

.social-1 {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    color: #fffafa;
    opacity: 0.8;
    font-size: 12px;
    padding-bottom: 32px;
}

.left-social-1 {
    display: flex;
    gap: 10px;
}

.right-social-1 {
    display: flex;
    gap: 24px;
    font-size: 14px;
}

.haz {
    padding-right: 10px;
    border-right: 1px solid #fffafacb;
    font-size: 12px;
    cursor: pointer;
    text-align: left;
    height: 16px;
}

.haze img {
    width: 75px;
    height: 24px;
    cursor: pointer;
    border: none;
}

.menus a {
    color: #ffffff;
    opacity: 0.5;   
    text-decoration: none;
}

.menus a:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
}



@media (max-width: 1360px) {
    .menu2-container {
        display: none;
    }
    .nav-menu {
        justify-content: space-between;
        padding: 0px 30px;
    }
}


@media (max-width: 1025px) {
    .phone-section {
        display: block;
    }
    .bars {
        display: block;
    }
    .menu-container {
        display: none;
    }
    .nav-menu {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 800px) {
    .product-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 400px) {
    .product-section {
        grid-template-columns: 1fr;
    }
}